* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

i {
    font-size: 24px;
}



table {
    width: 100%;
    height: fit-content;
}

table tr:hover td {
    background-color: #bdbdbd;

}

table tr td {
    text-align: center;
    cursor: pointer;
    padding: 8px;
}

body {
    min-height: 100vh;
    height: 100vh;
    pointer-events: none;
    position: relative;
}

.form {
    width: 100%;
}

.form .component {
    width: 100%;
}

.input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
}

.input:focus-visible {
    border: none;
    outline: none;
}

.btn {
    box-shadow: 0px 2px 4px black;
    padding: 12px 8px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.1s linear;
    border: 1px solid transparent;
    text-align: center;
    margin: 2px;
}

.btn:active {
    box-shadow: 0 2px 4px transparent;
    transform: translateY(2px);
}

.btn.add {
    color: white;
    background-color: #0d6efd;
}

.btn.update {
    color: black;
    background: gray;
}

.btn.delete {
    color: white;
    background-color: #ff4500;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 10;
    border-radius: 12px;
    position: absolute;
    inset: 0;
}

.loader>#circle {
    background-color: transparent;
    width: 20%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: #839cc2 4px solid;
    border-top: none;
    animation: identifierRotate .5s cubic-bezier(0.68, 1, 0.85, 0.29) infinite;
}

@keyframes identifierRotate {
    to {
        transform: rotate(360deg);
    }
}