* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  min-height: 100vh;
  height: 100vh;
  pointer-events: none;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #dbdbdb;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 20px;
  z-index: 0;
  pointer-events: auto;
}

.menu,
.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in;
  pointer-events: auto;
}

.btn-2{
  box-shadow: 0px 2px 4px black;
  padding:8px;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.1s linear;
  width: fit-content;
  min-width: 32px;
  margin:0 4px;
  text-align: center;
}

table{
  width:100%;
}
table tr:hover td{
  background-color: #bdbdbd;
  
}
table tr td{
  text-align: center;
  cursor: pointer;
  padding:8px;
}

.btn {
  box-shadow: 0px 2px 4px black;
  padding: 2px 8px;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.1s linear;
  min-width: 100px;
  text-align: center;
}

.btn:active,.btn-2:active {
  box-shadow: 0 2px 4px transparent;
  transform: translateY(2px);
}

li {
  list-style: none;
}

.logo {
  color: blue;
  font-weight: 800;
  cursor: pointer;
  font-size: larger;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

#body {
  flex: 1;
  display: flex;
  pointer-events: none;
}

#menu-left {
  width: 28%;
  max-width: 350px;
  height: 100%;
  background-color: #dbdbdb;
  position: relative;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 24px;
  transition: all .3s ease-in;
  z-index: 0;
  pointer-events: auto;
}

#menu-left::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #dbdbdb;
  top: 0;
  right: -24px;
  z-index: 1;
}

#menu-left::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: white;
  top: 0;
  right: -48px;
  border-radius: 50% 0 0 0;
  box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#menu-left .menu {
  padding-top: 48px;
  flex-direction: column;
  gap: 4px;
}

#menu-left>.menu .btn {
  box-shadow: none;
  width: 100%;
  padding-left: 24px;
  padding-bottom: 12px;
  border-radius: 0;
  cursor: pointer;
}

#menu-left>.menu .btn:hover,.active {
  border-bottom: 2px solid black;
}

.content {
  flex: 1;
  margin: 24px 0 0 24px;
  display: flex;
  gap: 18px;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 2;
  width: 10px;
  padding: 10px;
  pointer-events: auto;
}

.info {
  width: 24%;
  height: 100%;
  background-color: #dbdbdb;
  z-index: -3;
  padding: 0 24px;
  position: relative;
  transition: all .3s ease-in;
  pointer-events: none;
  
}

.info::before {
  content: "";
  width: 48px;
  position: absolute;
  background-color: white;
  height: 100%;
  left: -24px;
  border-radius: 24px;
}

.top-content {
  display: flex;
  gap: 4px;
}

.search {
  background-color: #dbdbdb;
  padding: 8px 12px;
  width: 30%;
  height: 40px;
  border-radius: 24px;
  position: relative;
}

.like-search {
  background-color: #dbdbdb;
  flex: 1;
  height: 40px;
  border-radius: 24px;
}

.body-content {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-height: 800px;
  overflow-y: scroll;
  pointer-events: auto;
}

.card {
  width: 200px;
  height: 260px;
  background-color: #dbdbdb;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 4px;
  position: relative;
}

.card>img {
  width: 96px;
  height: 96px;
  display: block;
}

.mask-card {
  position: absolute;
  right: -12px;
  top: 20px;
  background: yellow;
  padding: 4px;
  border-radius: 8px;
}

.arrow,
.arrow2 {
  display: none;
  z-index: 3;
  pointer-events: auto;
}

@media only screen and (max-width: 860px) {
  #menu-left {
    width: 5px;
  }

  .menu {
    width: 0;
    overflow: hidden;
  }

  .info {
    width: 2px;
    overflow: hidden;
  }

  .arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 4px black;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .arrow2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 4px black;
    position: absolute;
    top: 120px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

/* login page */
#login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

#login-main {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

#login-main>* {
  width: 100%;
  text-align: center;
  font-size: larger;
  padding: 24px;
}

/* announce */
#announce {
  padding: 16px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  width: 200px;
  height: fit-content;
  position: fixed;
  top: 10px;
  right: 10px;
  transition: right 1s cubic-bezier(0.21, -1.34, 0.86, 2.36);
}

.success {
  color: #0f5132;
  background-color: #d1e7dd;
}

.information {
  color: #055160;
  background-color: #cff4fc;
}

.danger {
  color: #842029;
  background-color: #f8d7da;
}

.warning {
  color: #664d03;
  background-color: #fff3cd;
}

/* info */
.info-content {
  margin:20px;
  padding:4px;
  pointer-events: auto;
  cursor: pointer;
  pointer-events: auto;
  overflow-y: scroll;
  height:calc(100vh - 110px)
}

.info-content>h2 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form>*>* {
  width: 100%;
}

/* overlay toastify */
.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#toastify {
  background-color: #cff4fc;
  border-radius: 40px;
  box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12), 0 10px 36px -4px rgba(77, 96, 232, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  pointer-events: auto;
  transition: all 1s cubic-bezier(0.08,1.09,0.54, 0.93);
  overflow: hidden;
}

#toastify>*{
  padding:24px;
}

#toastify>div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  pointer-events: auto;
}

#toastify>div>.btn{
  width:40%;
  cursor: pointer;
  pointer-events: auto;
}

.loader{
  width: 100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.input{
  background-color: transparent;
  border: none;
  width:100%;
}

.input:focus-visible{
  border:none;
  outline:none;
}

.search>.icon{
  position: absolute;
  right:15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.room-redirect{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.room-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-nav>*.active{
  border-bottom: 1px solid black;
}

.room-content{
  margin-top: 24px;
}

#list-service{
  text-align: center;
  max-height: 200px;
  overflow-y:scroll ;
}

.service-action{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.service-action>.btn{
  width: 100%;
  padding: 12px;
}
.block{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* thanh duoi */
::-webkit-scrollbar-track {
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.display-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
}